# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
# Set default charset
charset = utf-8
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
ij_javascript_use_double_quotes = false
ij_typescript_use_double_quotes = false


